---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import ViewCounter from "@components/ViewCounter.astro";
import ProgressBar from "@components/ProgressBar.astro";
import ToTop from "@components/ToTop.astro";
import ReadTime from "@components/ReadTime.astro";
import SuggestedPosts from "@components/SuggestedPosts.astro";
import Tags from "@components/Tags.astro";
import CopyCode from "@components/CopyCode.astro";
import CodeHighlights from "@components/CodeHighlights.astro";
import Spoiler from "@components/Spoiler.astro";
import IndexMentioned from "@components/IndexMentioned.astro";
import ViewSource from "@components/ViewSource.astro";
import HeaderLinks from "@components/HeaderLinks.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, tags, canonical } =
	Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: 100%;
				max-width: 100%;
			}
			.hero-image {
				width: 100%;

				.credit {
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translate(-50%, 0) scale(0);
					padding: 0 0.4em;
					font-size: 0.7em;
					transition: transform 0.2s linear;
				}
				&:has(:hover) .credit {
					transform: translate(-50%, 100%) scale(1);
				}
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
				max-height: 100px;
			}
			.prose {
				width: 65ch;
				max-width: 100%;
				margin: auto;
				padding: 1em 2em;
				color: var(--subtext);
				border-image: linear-gradient(
						#0000 0%,
						#3333 10%,
						#3333 90%,
						#0000 100%
					)
					1;
				border-right-width: 3px;
				border-right-style: solid;
				border-left-width: 3px;
				border-left-style: solid;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.title h1 {
				color: var(--text);
				word-break: break-word;
			}
			.title hr {
				margin-top: 0.5em;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.stats {
				display: flex;
				align-items: center;
				gap: 0.4em;
			}
			@media screen and (max-width: 600px) {
				main {
					font-size: 0.8em;
				}
			}
		</style>
	</head>
	<body>
		<ProgressBar />
		<ToTop />
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{
						heroImage && (
							<>
								<span class="credit">
									{heroImage.includes("_")
										? "@" +
											heroImage.slice(
												heroImage.indexOf("_") + 1,
												heroImage.indexOf("."),
											)
										: heroImage.slice(
												heroImage.lastIndexOf("/") + 1,
												heroImage.indexOf("."),
											)}
								</span>

								<img src={heroImage} alt="" />
							</>
						)
					}
				</div>
				<div class="prose" id="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on{" "}
										<FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<div class="stats">
							<ViewCounter />
							<ReadTime />
						</div>
						<hr />
					</div>
					<Tags tags={tags} />
					{
						canonical && (
							<a class="canonical" href={canonical}>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 16 16"
									fill="currentColor"
								>
									<path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z" />
								</svg>
								Canonical: {new URL(canonical).hostname}
							</a>
						)
					}
					{
						tags.includes("ctf") && !tags.includes("meta") && (
							<Spoiler />
						)
					}
					<slot />
					<CopyCode />
					<CodeHighlights />
					<IndexMentioned />
					<ViewSource />
					<HeaderLinks />
				</div>
			</article>
			<SuggestedPosts props={Astro.props} />
		</main>
		<Footer />
	</body>
</html>
